body { color:#444; font-family: Roboto, Arial, sans-serif; font-size: 14px; padding:0; margin:0; }
div, p, b { padding;0 margin: 0 }

.searchbox {border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px; border: 1px solid silver;border-top: 1px solid silver;width: 78.5%;display: block;padding: 10px 8px; float: left; }
#chat { width: 19%; float: right; }
#conversation { border: 0px solid silver; overflow:scroll-y; height:508px; overflow:auto; margin-bottom:10px; }
#conv { /*margin-right: 10px;*/ margin-top: 10px;   }
#conversation b { line-height: 20px; }
#datasend { visibility: hidden; }
#users {padding:0px;overflow:scroll-y; visibility: hidden; height:0px;}


/*Drawing board*/
#board { width: 69%; float: left; }



/*Drawing board*/


/*SVG*/
.head { stroke: black; }
.body { stroke: black; }
.hand { stroke: black; }
.thigh { stroke: black; }
.foot { stroke: black; }
.head0 { fill: white; }

.axis { stroke: gray; stroke-dasharray: 5 10; }

.content p {
	background:white;
	opacity:0.7;
	white-space:nowrap;
    overflow:hidden;
    -webkit-animation: typing 2s steps(26, end), 
                        blink-caret 1s step-end infinite;
    -webkit-animation-delay:0.1s;
    -webkit-animation-fill-mode:both;
    -moz-animation: typing 2s steps(26, end), 
                        blink-caret 1s step-end infinite*/;
    -moz-animation-delay:0.11s;
    -moz-animation-fill-mode:both;
     position: absolute;
     left: 24%;
     top: 52%;
}

@-webkit-keyframes typing {
    from { width: 0; }
    to { width:200px; }
}

@-moz-keyframes typing {
    from { width: 0; }
    to { width:200px; }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}
